:root {
  --title-color: #000000;
  --subtitle-color: #263238;
  --text-color: #8f95a5;
  --secondary-text-color: #546269;
  --button-color: #263238;
  --logo-color: #939393;
  --btn-text: #ffffff;
  --bakcground: #f5f5f5;

  --transition-duration--timing-f: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
}

button {
  cursor: pointer;
}

.logotype {
  text-decoration: none;
  color: var(--logo-color);

  font-size: 36px;
  line-height: 1.5;
}

.logo-accent {
  color: var(--title-color);
}

@media screen and (max-width: 574px) {
  .container {
    width: 320px;
    padding-left: 14px;
    padding-right: 14px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 575px) {
  .container {
    width: 575px;
    padding-left: 42px;
    padding-right: 42px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 39px;
    padding-right: 39px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 992px) {
  .container {
    width: 992px;
    padding-left: 31px;
    padding-right: 31px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1378px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ================== HEADER ================== */

.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  padding-top: 36px;
  padding-bottom: 36px;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--transition-duration--timing-f);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu {
  overflow-y: scroll;
}

.menu-list {
  display: none;
}

.head-btn {
  display: none;
}

.burger-menu {
  background-color: transparent;
  border: none;

  margin-left: auto;
}

.mobile-menu {
  padding-bottom: 40px;
}

.mobile-menu-top {
  display: flex;

  position: relative;

  margin-bottom: 48px;
}

.mobile-menu-top::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: #c4c4c4;
}

.close-btn {
  background-color: transparent;
  border: none;

  margin-left: auto;
  padding: 0;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;

  margin-bottom: 69px;
}

.mobile-menu-list-link {
  display: block;

  font-weight: 500;

  text-decoration: none;
  color: var(--button-color);

  transition: var(--transition-duration--timing-f);
}

.mobile-menu-list-link:hover,
.mobile-menu-list-link:focus {
  transform: scale(1.2) translateX(35px);
}

.mobile-head-btn {
  color: var(--title-color);

  letter-spacing: 0.03em;

  border: 2px solid var(--button-color);
  background-color: transparent;
  border-radius: 10px;

  transition: color var(--transition-duration--timing-f),
    background-color var(--transition-duration--timing-f);
}

.mobile-head-btn:hover,
.mobile-head-btn:focus {
  color: var(--btn-text);

  background: var(--button-color);
}

/* ============ 320 */

@media screen and (max-width: 574px) {
  .logotype {
    font-size: 24px;
    line-height: calc(36 / 24);
  }

  .mobile-menu-list-link {
    font-size: 22px;
    line-height: calc(65 / 22);
  }

  .mobile-head-btn {
    font-size: 20px;
    line-height: 1.3;

    padding-top: 17px;
    padding-bottom: 17px;
    min-width: 291px;
  }
}

/* ============ 575 */

@media screen and (min-width: 575px) {
  .logotype {
    font-size: 30px;
    line-height: calc(45 / 30);
  }

  .mobile-menu-list-link {
    font-size: 24px;
    line-height: calc(65 / 24);
  }

  .mobile-menu-list-link:hover,
  .mobile-menu-list-link:focus {
    transform: scale(1.2) translateX(50px);
  }

  .mobile-head-btn {
    padding-top: 18px;
    padding-bottom: 18px;
    min-width: 330px;
  }
}

/* ============ 768 */

@media screen and (min-width: 768px) {
  .mobile-container {
    width: 364px;
  }

  .mobile-menu {
    width: 429px;

    box-shadow: 500px 0px 0px 200px rgba(7, 34, 47, 0.7);
  }

  .logotype {
    font-size: 24px;
    line-height: calc(36 / 24);
  }

  .mobile-menu-list-link {
    font-size: 22px;
    line-height: calc(60 / 22);
  }

  .mobile-menu-list-link:hover,
  .mobile-menu-list-link:focus {
    transform: scale(1.2) translateX(70px);
  }

  .mobile-head-btn {
    padding-top: 16px;
    padding-bottom: 16px;
    min-width: 210px;
  }
}

/* ============ 992 */

@media screen and (min-width: 992px) {
  .burger-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .menu-list {
    display: block;
  }

  .head-btn {
    display: block;
  }

  .logo-header {
    margin-right: 168px;
  }

  .menu-list {
    display: flex;
  }

  .menu-list-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-list-link {
    display: block;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);

    text-decoration: none;
    color: var(--button-color);

    padding-top: 44px;
    padding-bottom: 44px;

    transition: var(--transition-duration--timing-f);
  }

  .menu-list-link:hover,
  .menu-list-link:focus {
    transform: scale(1.2);
  }

  .head-btn {
    color: var(--title-color);

    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.03em;

    padding-top: 12px;
    padding-bottom: 12px;
    min-width: 160px;

    margin-left: auto;

    border: 2px solid var(--button-color);
    background-color: transparent;
    border-radius: 10px;

    transition: color var(--transition-duration--timing-f),
      background-color var(--transition-duration--timing-f);
  }

  .head-btn:hover,
  .head-btn:focus {
    color: var(--btn-text);

    background: var(--button-color);
  }
}

/* ============ 1400 */

@media screen and (min-width: 1400px) {
  .logotype {
    font-size: 36px;
    line-height: calc(54 / 36);
  }

  .logo-header {
    padding-top: 63px;
    padding-bottom: 63px;
    margin-right: 236px;
  }

  .menu-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .menu-list-link {
    font-size: 20px;
    line-height: calc(30 / 20);
  }

  .menu-list-link:hover,
  .menu-list-link:focus {
    transform: scale(1.3);
  }

  .head-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 312px;

    font-size: 20px;
    line-height: calc(30 / 20);
  }
}

/* ================== MAIN ================== */

.title-section {
  font-weight: 600;
  line-height: 1.5;

  color: var(--title-color);
  text-align: center;
}

.left-title {
  text-align: left;
}

.subtitle {
  font-weight: 600;
  line-height: 1.5;

  color: var(--title-color);
}

.btn {
  font-weight: 500;
  line-height: 1.5;
  color: var(--btn-text);

  background: var(--button-color);
  border-radius: 10px;

  transition: color var(--transition-duration--timing-f),
    border var(--transition-duration--timing-f),
    background-color var(--transition-duration--timing-f);
}

@media screen and (max-width: 574px) {
  .btn {
    font-size: 14px;

    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 575px) {
  .btn {
    font-size: 14px;

    padding-top: 14px;
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 18px;

    padding-top: 14px;
    padding-bottom: 17px;
  }
}
@media screen and (min-width: 1400px) {
  .btn {
    font-size: 20px;

    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.btn:hover,
.btn:focus {
  color: var(--title-color);

  border: 2px solid var(--button-color);
  background-color: transparent;
}

/* ------- Hero ------- */
.hero-container {
  display: flex;
}

.lamp-section {
  display: flex;
  align-items: flex-end;
}

.main-title {
  font-weight: 600;

  color: var(--title-color);
}

.hero-text {
  font-weight: 400;
}

.btn-hero {
  background-color: var(--button-color);
  border-radius: 10px;

  color: var(--btn-text);

  transition: color var(--transition-duration--timing-f),
    border var(--transition-duration--timing-f),
    background-color var(--transition-duration--timing-f);
}

.btn-hero:hover,
.btn-hero:focus {
  color: var(--title-color);

  border: 2px solid var(--button-color);
  background-color: transparent;
}

/* ============ 320 */
@media screen and (max-width: 574px) {
  .main-title {
    width: 220px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .hero-container {
    flex-direction: column;
  }

  .lamp-section {
    display: block;
  }

  .lamp {
    display: none;
  }

  .girl-hero {
    order: -1;

    margin: 0 auto;
  }

  .btn-hero {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 574px) {
  .hero {
    padding-bottom: 27px;
  }
  .girl-hero {
    width: 299px;
  }

  .btn-hero {
    padding-top: 18px;
    padding-bottom: 18px;
    min-width: 289px;

    font-size: 15px;
    line-height: calc(24 / 16);
    letter-spacing: 0.03em;
  }

  .main-title {
    text-align: center;
    font-size: 24px;
    line-height: calc(36 / 24);
  }

  .hero-text {
    text-align: center;

    font-size: 14px;
    line-height: calc(24 / 14);

    margin-bottom: 33px;
  }

  .lamp-section {
    margin-top: 16px;
    margin-bottom: 20px;
  }
}

/* ============ 575 */

@media screen and (min-width: 575px) {
  .hero {
    padding-bottom: 48px;
  }

  .girl-hero {
    width: 424px;
  }
  .lamp-section {
    margin-top: 17px;
    margin-bottom: 26px;
  }

  .main-title {
    font-size: 34px;
    line-height: calc(45 / 34);
  }

  .hero-text {
    font-size: 16px;
    line-height: calc(24 / 16);

    margin-bottom: 37px;
  }

  .btn-hero {
    padding-top: 24px;
    padding-bottom: 24px;
    min-width: 305px;

    font-size: 18px;
    line-height: calc(27 / 18);
  }
}

/* ============ 768 */

@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 28px;
  }

  .hero-left {
    margin-right: 22px;
  }

  .girl-hero {
    width: 352px;
  }

  .lamp-section {
    margin-top: 0px;
    margin-bottom: 25px;

    width: 289px;
  }

  .lamp {
    width: 60px;
  }

  .main-title {
    font-size: 36px;
    line-height: calc(45 / 36);
  }

  .hero-text {
    margin-bottom: 32px;
  }

  .btn-hero {
    padding-top: 19px;
    padding-bottom: 19px;
    min-width: 236px;
  }
}

/* ============ 992 */

@media screen and (min-width: 992px) {
  .hero {
    padding-bottom: 36px;
  }

  .hero-left {
    margin-right: 61px;
  }

  .girl-hero {
    width: 460px;
  }

  .lamp-section {
    margin-top: 0px;
    margin-bottom: 25px;

    width: 100%;
  }

  .lamp {
    width: 71px;

    padding-bottom: 13px;
  }

  .main-title {
    font-size: 48px;
    line-height: calc(64 / 48);

    text-align: left;
  }

  .hero-text {
    margin-bottom: 32px;

    text-align: left;
  }

  .btn-hero {
    padding-top: 22px;
    padding-bottom: 22px;
    min-width: 292px;

    font-size: 24px;
    line-height: calc(36 / 24);
  }
}

/* ============ 1400 */

@media screen and (min-width: 1400px) {
  .hero {
    padding-bottom: 90px;
  }

  .hero-left {
    margin-right: 144px;
  }

  .girl-hero {
    width: 654px;
  }

  .lamp-section {
    margin-bottom: 40px;
  }

  .lamp {
    width: 120px;

    padding-bottom: 13px;
  }

  .main-title {
    font-size: 64px;
    line-height: calc(80 / 64);
  }

  .hero-text {
    font-size: 24px;
    line-height: calc(36 / 24);

    margin-bottom: 60px;
  }

  .btn-hero {
    padding-top: 23px;
    padding-bottom: 23px;
    min-width: 426px;

    font-size: 36px;
  }
}

/* ------- Skills ------- */

.text-skills {
  color: var(--text-color);
}

.skills-list-item {
  background-color: var(--bakcground);

  padding: 18px 32px;

  border-radius: 10px;
}

.writting-container,
.speaking-container,
.reading-container,
.listening-container {
  height: 100%;

  display: flex;
  flex-direction: column;
}

.skills-list-item .btn {
  margin-top: auto;

  align-self: flex-start;
}

/* ============ 320 */

@media screen and (max-width: 574px) {
  .skills-section {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .title-section {
    font-size: 24px;

    margin-bottom: 50px;
  }

  .subtitle {
    font-size: 18px;

    margin-bottom: 25px;
  }

  .text-skills {
    font-size: 13px;
    line-height: calc(20 / 13);

    margin-bottom: 15px;
  }

  .skills-list {
    display: flex;
    flex-direction: column;

    gap: 21px;
  }

  .skills-list-item {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .skills-list-item .btn {
    min-width: 178px;
  }

  .skills-list-image-speaking {
    width: 213px;
  }
  .skills-list-image-writing {
    width: 204px;
  }
  .skills-list-image-reading {
    width: 236px;
  }
  .skills-list-image-listening {
    width: 232px;
  }
}

/* ============ 575 */
@media screen and (min-width: 575px) and (max-width: 767px) {
  .skills-list {
    display: flex;
    flex-wrap: wrap;

    row-gap: 32px;
    column-gap: 30px;

    margin-right: -10px;
    margin-left: -10px;
  }

  .skills-list-item {
    width: 240px;
  }
}
@media screen and (min-width: 575px) {
  .skills-section {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .title-section {
    font-size: 30px;

    margin-bottom: 60px;
  }

  .subtitle {
    font-size: 18px;

    margin-bottom: 25px;
  }

  .text-skills {
    font-size: 12px;
    line-height: calc(18 / 12);

    margin-bottom: 15px;
  }

  .skills-list-item {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .skills-list-item .btn {
    min-width: 200px;
  }

  .skills-list-image-speaking {
    width: 185px;
  }
  .skills-list-image-writing {
    width: 182px;
  }
  .skills-list-image-reading {
    width: 198px;
  }
  .skills-list-image-listening {
    width: 206px;
  }
}

/* ============ 768 */

@media screen and (min-width: 768px) {
  .skills-section {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .title-section {
    margin-bottom: 25px;
  }

  .subtitle {
    font-size: 20px;

    margin-bottom: 15px;
  }

  .text-skills {
    font-size: 13px;
    line-height: calc(20 / 13);
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .skills-list-item .btn {
    min-width: 178px;
  }

  .skills-list-image-speaking {
    width: 214px;
  }
  .skills-list-image-writing {
    width: 200px;
  }
  .skills-list-image-reading {
    width: 216px;
  }
  .skills-list-image-listening {
    width: 202px;
  }

  .skills-list-item.speaking {
    grid-area: 1 / 1 / 3 / 2;
    width: 224px;
  }
  .skills-list-item.writing {
    grid-area: 1 / 2 / 2 / 3;
    width: 227px;
  }
  .skills-list-item.reading {
    grid-area: 1 / 3 / 2 / 4;
    width: 228px;
  }
  .skills-list-item.listening {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

/* ============ 992 */

@media screen and (min-width: 992px) {
  .skills-section {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .title-section {
    font-size: 36px;

    margin-bottom: 40px;
  }

  .subtitle {
    font-size: 22px;
  }

  .text-skills {
    font-size: 14px;
    line-height: calc(21 / 14);

    margin-bottom: 25px;
  }

  .skills-list-item .btn {
    min-width: 196px;
  }

  .skills-list-image-speaking {
    width: 260px;
  }
  .skills-list-image-writing {
    width: 205px;
  }
  .skills-list-image-reading {
    width: 243px;
  }
  .skills-list-image-listening {
    width: 254px;
  }

  .skills-list-item.speaking {
    grid-area: 1 / 1 / 3 / 2;
    width: 303px;
  }
  .skills-list-item.writing {
    grid-area: 1 / 2 / 2 / 3;
    width: 302px;
  }
  .skills-list-item.reading {
    grid-area: 1 / 3 / 2 / 4;
    width: 304px;
  }
  .skills-list-item.listening {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

/* ============ 1400 */

@media screen and (min-width: 1400px) {
  .skills-section {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .title-section {
    font-size: 48px;

    margin-bottom: 60px;

    margin-bottom: 60px;
  }

  .subtitle {
    font-size: 30px;

    margin-bottom: 20px;
  }

  .skills-list-item .btn {
    min-width: 218px;
  }

  .text-skills {
    font-size: 16px;
    line-height: calc(24 / 16);

    margin-bottom: 30px;
  }

  .skills-list-image-speaking {
    width: 390px;
  }
  .skills-list-image-writing {
    width: 390px;
  }
  .skills-list-image-reading {
    width: 390px;
  }
  .skills-list-image-listening {
    width: 408px;
  }

  .skills-list-item.speaking {
    grid-area: 1 / 1 / 3 / 2;
    width: 426px;
  }
  .skills-list-item.writing {
    grid-area: 1 / 2 / 2 / 3;
    width: 426px;
  }
  .skills-list-item.reading {
    grid-area: 1 / 3 / 2 / 4;
    width: 426px;
  }
  .skills-list-item.listening {
    grid-area: 2 / 2 / 3 / 4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
}

/* ------- About Us ------- */
.about-us-text {
  line-height: 1.8;

  margin-bottom: 30px;

  color: var(--text-color);
}

.statistics-item {
  line-height: 1.5;
}

/* ============ 320 */

@media screen and (max-width: 574px) {
  .about-us-container {
    padding-top: 27px;
    padding-bottom: 27px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-wrap {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .about-us-image {
    width: 283px;

    order: -1;
  }

  .about-us-text {
    font-size: 13px;
    text-align: center;
  }

  .statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-size: 13px;
  }

  .statistics-item:not(:last-child){
    margin-bottom: 50px;
  }

  .statistics-item > .subtitle {
    margin-bottom: 15px;
  }
}

/* ============ 575 */

@media screen and (min-width: 575px) and (max-width: 767px) {
  .about-us-container {
    padding-top: 48px;
    padding-bottom: 48px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-wrap {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  .about-us-image {
    width: 352px;

    order: -1;

    margin-bottom: 25px;
  }

  .statistics-item > .subtitle {
    margin-bottom: 20px;
  }

  .about-us-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-text {
    text-align: center;

    margin-bottom: 40px;
  }
}

@media screen and (min-width: 575px) {
  .about-us-text {
    font-size: 14px;
  }

  .statistics-list {
    display: flex;

    gap: 48px;

  }

  .statistics-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    font-size: 13px;
  }
}

/* ============ 768 */

@media screen and (min-width: 768px) {
  .about-us-container {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .about-us-wrap {
    display: flex;
  }

  .about-us-image {
    width: 295px;
  }

  .about-us-description {
    margin-right: 78px;
  }

  .statistics-list {
    gap: 48px;
  }
}

/* ============ 992 */

@media screen and (min-width: 992px) {
  .about-us-container {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .about-us-text {
    font-size: 16px;
  }

  .about-us-image {
    position: relative;
    bottom: 55px;
    margin-bottom: -55px;

    width: 336px;
  }

  .statistics-item {
    font-size: 16px;
  }
}

/* ============ 1400 */

@media screen and (min-width: 1400px) {
  .about-us-container {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about-us-text {
    font-size: 20px;
  }

  .about-us-image {
    position: relative;
    bottom: 190px;
    margin-bottom: -190px;

    width: 540px;
  }

  .about-us-description {
    margin-right: 146px;

    max-width: 652px;
  }

  .statistics-list {
    gap: 131px;
  }

  .statistics-item {
    width: 115px;

    font-size: 20px;

    margin-left: 49px;
  }
}

/* ------- Prising ------- */

.pricing-section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.pricing-list {
  display: flex;

  gap: 30px;
}

.pricing-item {
  display: flex;
  flex-direction: column;
}

.pricing-text {
  font-size: 20px;
  line-height: 1.5;

  margin-bottom: 30px;

  color: var(--text-color);
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bakcground);

  padding: 5px 23px;
  margin-top: auto;
  width: 260px;
}

.pound {
  font-size: 24px;
  line-height: 1.5;
  text-align: center;

  color: var(--subtitle-color);
}

.period {
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  color: var(--secondary-text-color);
}

/* ============ 320 */

@media screen and (max-width: 574px) {
}

/* ============ 575 */

@media screen and (min-width: 575px) {
}

/* ============ 768 */

@media screen and (min-width: 768px) {
}

/* ============ 992 */

@media screen and (min-width: 992px) {
}

/* ============ 1400 */

@media screen and (min-width: 1400px) {
}

/* ------- Contact Us ------- */

.contact-section {
  padding-top: 90px;
  padding-bottom: 90px;
}

.contact-container {
  display: flex;
}

.contact-description {
  margin-left: 144px;
}

.contact-text {
  font-size: 20px;
  line-height: 1.5;

  margin-bottom: 30px;

  color: var(--text-color);

  width: 654px;
}

.input-block {
  position: relative;

  display: flex;
  align-items: center;
}

.contact-email {
  width: 425px;
  height: 70px;
  outline: none;
  border: 1px solid var(--text-color);
  border-radius: 10px;

  padding: 20px 30px;

  margin-right: 30px;
}

.contact-email-desc {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transform-origin: left center;

  pointer-events: none;
  transition: 250ms linear;

  background-color: #fff;
  padding: 10px;

  opacity: 0.5;
}

.contact-email:focus + .contact-email-desc,
.contact-email:not(:placeholder-shown) + .contact-email-desc {
  top: 0;
  transform: translate(10px, -50%) scale(0.8);

  opacity: 1;
  font-size: 16px;
}

.submit-btn {
  color: var(--btn-text);

  font-size: 20px;
  line-height: 1.301;
  letter-spacing: 0.03em;

  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 312px;

  margin-left: auto;

  background-color: var(--button-color);
  border-radius: 10px;

  transition: color var(--transition-duration--timing-f),
    border var(--transition-duration--timing-f),
    background-color var(--transition-duration--timing-f);
}

.submit-btn:hover,
.submit-btn:focus {
  color: var(--title-color);

  border: 2px solid var(--button-color);
  background-color: transparent;
}

/* ============ 320 */

@media screen and (max-width: 574px) {
}

/* ============ 575 */

@media screen and (min-width: 575px) {
}

/* ============ 768 */

@media screen and (min-width: 768px) {
}

/* ============ 992 */

@media screen and (min-width: 992px) {
}

/* ============ 1400 */

@media screen and (min-width: 1400px) {
}

/* ================== FOOTER ================== */

.footer-container {
  display: flex;
  align-items: center;
  border-top: 1px solid #c4c4c4;
  padding-top: 22px;
  padding-bottom: 77px;
}

.footer-menu {
  display: flex;

  gap: 80px;

  margin-left: auto;
}

.footer-menu-link {
  text-decoration: none;

  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);

  padding-top: 10px;
  padding-bottom: 10px;
}

/* ============ 320 */

@media screen and (max-width: 574px) {
}

/* ============ 575 */

@media screen and (min-width: 575px) {
}

/* ============ 768 */

@media screen and (min-width: 768px) {
}

/* ============ 992 */

@media screen and (min-width: 992px) {
}

/* ============ 1400 */

@media screen and (min-width: 1400px) {
}
